@charset "utf-8"
//
// 404

*
  user-select none
html, body
  height 95%
body
  background #0f3854
  background radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%)
  background-size 100%
  color: #ddd
  text-shadow 0 0 10px #0b8cba
  font-size 48px
h1
  font-size 4em
  margin 0
  margin-bottom 24px
a
  text-decoration none
  color #ddd
  font-weight bold
  padding 10px 48px
  border 1px solid #0b8cba
  &:hover
    color #fff
    border-color #ddd
.notfound
  position absolute
  top 40%
  left 50%
  transform translate(-50%, -50%)
  text-align center