remixicon-plus-font-path = 'fonts/' !default;

ri-rss-line = "\e902"
ri-arrow-down-line = "\e903"
ri-arrow-up-line = "\e904"
ri-menu-line = "\e905"
ri-price-tag-3-fill = "\e906"
ri-stack-line = "\e907"
ri-calendar-line = "\e908"
ri-moon = "\e909"
ri-sun = "\e90a"

@font-face
  font-family 'remixicon'
  src url(remixicon-plus-font-path + '/remixicon.eot?qmw4at')
  src url(remixicon-plus-font-path + '/remixicon.eot?qmw4at#iefix') format('embedded-opentype'), url(remixicon-plus-font-path + '/remixicon.ttf?qmw4at') format('truetype'), url(remixicon-plus-font-path + '/remixicon.woff?qmw4at') format('woff'), url(remixicon-plus-font-path + '/remixicon.svg?qmw4at#remixicon') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="ri-"], [class*=" ri-"]
  display inline-block;
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.ri-rss-line
  &:before
    content ri-rss-line
.ri-arrow-down-line
  &:before
    content ri-arrow-down-line
.ri-arrow-up-line
  &:before
    content ri-arrow-up-line
.ri-menu-line
  &:before
    content ri-menu-line
.ri-price-tag-3-fill
  &:before
    content ri-price-tag-3-fill
.ri-stack-line
  &:before
    content ri-stack-line
.ri-calendar-line
  &:before
    content ri-calendar-line
.ri-moon
  &:before
    content ri-moon  
    color #eee
.ri-sun
  &:before
    content ri-sun  
    color #eee